<% if product.errors.any? %>
  <section>
    <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_with model: product,
              data: { turbo: false } do |f| %>
  <section class="flex flex-col gap-1">
    <div>
      <%= f.label :cover, class: 'label' %>
      <%= f.file_field :cover, class: 'file-input file-input-bordered' %>
    </div>

    <div>
      <%= f.label :title, class: 'label' %>
      <%= f.text_field :title, class: 'input input-bordered' %>
    </div>

    <div>
      <%= f.label :description, class: 'label' %>
      <%= f.text_area :description, class: 'textarea textarea-bordered' %>
    </div>

    <div>
      <%= f.label :price, class: 'label' %>
      <%= f.number_field :price, class: 'input input-bordered', min: 0 %>
    </div>

    <div>
      <%= f.label :onsale, class: 'label' %>
      <%= f.check_box :onsale, class: 'checkbox' %>
    </div>

    <div class="my-1">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>
